<footer>
</footer>
    <!-- jQuery -->
    <script src="{{ "/static/jquery/jquery.min.js"  | absolute_url }}" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/static/bootstrap/js/bootstrap.min.js" | absolute_url }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ "/static/metisMenu/metisMenu.min.js" | absolute_url }}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ "/static/raphael/raphael.min.js" | absolute_url }}"></script>
    <script src="{{ "/static/morrisjs/morris.min.js" | absolute_url }}"></script>
    <script src="{{ "/static/data/morris-data.js" | absolute_url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/static/dist/js/sb-admin-2.js" | absolute_url }}"></script>