<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	
	<!-- Bootstrap Core CSS -->
    <link href="{{ "/static/bootstrap/css/bootstrap.min.css" | absolute_url }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ "/static/metisMenu/metisMenu.min.css" | absolute_url }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ "/static/dist/css/sb-admin-2.css" | absolute_url }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href=" {{ "/static/vendor/morrisjs/morris.css" | absolute_url }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href=" {{ "/static/font-awesome/css/font-awesome.min.css" | absolute_url }}"rel="stylesheet" type="text/css">
</head>